/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body * {
  height: 100%;
  border: 1px solid black;
  font-size: 62.5%;
}
/* GENERAL STYLING */
header,
section,
footer {
  margin: 1% 2%;
  padding: 1%;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 1.4rem;
}
/* VARIABLES & MIXINS */
.two-columns {
  width: 48%;
  padding: 1%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* HEADER STYLING */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
nav a {
  font-size: 1.4rem;
  margin: 0 2%;
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: #4B0082;
}
/* SECTION STYLING */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title .twoBlocks {
  width: 48%;
  padding: 1%;
}
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.skills .skillscontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.skills .skillscontainer .threeBlocks {
  width: 31%;
  padding: 1%;
}
.workhistory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.workhistory .workcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.workhistory .workcontainer .twoBlocks {
  width: 48%;
  padding: 1%;
  width: 100%;
}
/* FOOTER STYLING */
.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.footercontainer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 30%;
}
.footercontainer .contact .twoBlocks {
  width: 48%;
  padding: 1%;
}
